html, body{
	height:100%;
	width:100%;
    padding:0;
	margin:0;
	background-color:#f1f1f1;
	

}

* {
	font-family:verdana;
}


/*  ------------------------------------------------------v navbar v------------------------------------------------------  */

#navbarbar {
	height:100%;
	background-color:#500808;
	width:150px;
	position: fixed;
	right:0;
	top:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.navbutt {
	border: none;
	display: grid;
	place-items: center;
	background-color:#500808;
	padding: 14px 28px;
	font-size: 16px;
	width: 150px;
	height:180px;
	top:35%;
	color:#f1f1f1;
	cursor:pointer;
	border-radius:0px 25px 25px 0px;
	
}

.navbutttext {
	margin-top:0;
}

.navbutt:hover {
	background-color:#f1f1f1;
	color:#500808;
}




.navsymbol {
	grid-area: 1 / 1; 
	
}

.navsymbolC {
	grid-area: 1 / 1; 
	opacity:0;
}

.navbutt:hover img:nth-child(1) {
	opacity:0;
}

.navbutt:hover img:nth-child(2) {
	opacity:1;
}


.navbartitle {
	font-size: 35px;
	color:#f1f1f1;
	font-weight:bold;
	text-align:center;
	margin-top:5%;
	margin-bottom:0px;
}

.navbartitle2 {
	font-size: 28px;
	color:#f1f1f1;
	font-weight:bold;
	text-align:center;
	margin-top:0;
	margin-bottom:170px;
}

/*  ------------------------------------------------------^ navbar ^------------------------------------------------------  */
/*  ------------------------------------------------------v main v------------------------------------------------------  */
/*  -----------------------------------v homepage v------------------------------  */

.frontbanner {
	width:92.1%;
	height:300px;
	background-color:white;
	margin-top:0.1px;
	padding-top:1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
	
}

.bwpic {
	height:100%;
	float:left;
	margin-left:20%;
}

.bannertitle1 {
	text-align:right;
	margin-top:0;
	margin-bottom:0;
	margin-right:3%;
	font-size:120px;
	color:#500808;
	font-weight:bold;
}

.bannertitle2 {
	text-align:right;
	margin-top:0;
	margin-bottom:0;
	margin-right:3%;
	font-size:95px;
	color:#500808;
	font-weight:bold;
}



.introtext {
	text-align:center;
	
}

.introtextheader {
	color:#800000;
	margin-bottom:0;
	margin-top:50px;
}



.fotobox {
	background-color:#FAEBD7;
	width:700px;
	height:646.5px;
	border-radius:0px 25px 25px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
	
}

.fotoboxfoto {
	width:50%;
	float:left;
	height:100%;
}

.fototext {
	float:right;
	height:100%;
	width:340px;
	background-color:;
	margin:5px;
	text-align:justify;
}



.division {
	height:3px;
	width:40%;
	background-image: linear-gradient(to right, rgb(128, 0, 0, 0), rgb(128, 0, 0, 1), rgb(128, 0, 0, 1), rgb(128, 0, 0, 0));
	margin: auto;
	margin-bottom:100px;
}


/*  ------------------v skillbox v-------------------  */

.skillboxes {
	position:absolute;

	width:900px;
	height:500px;
	margin-left:45%;
	margin-bottom:;
	margin-top:-30%;

	
}

.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
	padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: ;
	padding: 10px;
}

.logos {
	height:100px;
	
}


/*  ------------------^ skillbox ^-------------------  */

/*  -----------------------------------^ homepage ^------------------------------  */

/*  ----------------------------v Bewerbungsunterlagen v------------------------------  */

.anschreiben {

	width:100%;
	height:100%;

}

#pdfdisplaybox {
	width:92.1%;
	height:1100px;
	margin-right:0%;
	background-color:pink;
}


/*  ----------------------------^ Bewerbungsunterlagen ^------------------------------  */



/*  ------------------------------------------------------^ main ^------------------------------------------------------  */
/*  ------------------------------------------------------v footer v------------------------------------------------------  */

#footah {
	width: 100%;
	height: 150px;
	background-color: #EECEC9;
	float: center;
	text-align: center;
	padding-top: 35px;
	margin-bottom: 0%;
	margin-top:;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

#footertxt {
	line-height: 150%
}

/*  ------------------------------------------------------^ footer ^------------------------------------------------------  */